@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scoreContainer {
  font-family: "Bangers", cursive;
  font-size: 1.25rem;
  letter-spacing: 2px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.scoreContainer h2 {
  text-align: center;
  padding: 1rem;
}
table {
  border: 5px solid rgb(131, 221, 28);
  margin: 1rem 0;
}
table thead,
.orderList {
  background-color: rgb(0, 143, 238);
  color: rgb(248, 248, 76);
}
tbody {
  display: block;
  border: 1px solid rgb(27, 13, 13);
}
tbody tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0;
}
tbody td {
  color: rgb(255, 52, 52);
}
tbody th {
  padding-left: 25%;
  justify-self: flex-end;
}

.orderList {
  font-family: "Bangers", cursive;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}
